h1{
  font-size: 40px;
}

.left{
  margin-left: 50px;
  float: left;
}

.right{
  margin-top: 40px;
  margin-right: 50px !important;
  float: right;
}

.container {
  left: 0%;
  top: 0%;
  position: absolute;
  width: 99%;
  margin: 0px;
  padding: 10px !important;
  background-color: rgb(37, 78, 110);
}
