<div class="section-container">

  <h1>BFFL</h1>
  <p>Welcome to BFFL - the famous URL-Shortener </p>

  <form [formGroup]="shortenURLForm" (ngSubmit)="this.shortenURL()" id = "myform">
    <label for="targetURL">Original URL</label>
    <input type="text" id="targetURL" placeholder="e.g. 'https://mywebsite/impressum.com'" formControlName="targetURL" required/>
    <label for="customSuffix">What do you want as your short URL?</label>
    <input type="text" id = "customSuffix" placeholder="e.g. 'impressum'" formControlName="customSuffix" required/>

    <div class="control-group">
      <label class="control control-checkbox" for="updateFlag">
        Do you want to allow updates?
        <input type="checkbox" id = "updateFlag" formControlName="updateFlag"/>
        <div class="control_indicator"></div>
      </label><br><br>
      <label class="control control-checkbox" for="deleteFlag">
        Do you want to allow deletion?
        <input type="checkbox" id = "deleteFlag" formControlName="deleteFlag"/>
        <div class="control_indicator"></div>
      </label>
    </div><br>

    <label for="scope">Add your Scope </label>
    <select id="scope" formControlName="scope">
      <option value="-1">Forever</option>
      <option value="2592000">One month</option>
      <option value="31536000">One year</option>
      <option value="315360000">Ten years</option>
    </select><br><br>

    <label for="tags">Selected Tags</label><br>
    <select name="tags" id="tags" required="required" formControlName="tags">
      <option value="default"></option>
      <option value="1">Tag 1</option>
      <option value="2">Tag 2</option>
      <option value="3">Tag 3</option>
    </select><br>

    <input type="submit" class="button" value="Shorten URL" />
  </form>
</div>
