input[type=text] {
  font-family: "Lucida Console", serif;
  border-radius: 25px;
  background: #394B73;
  color: #FFFFFF;
  font-size: medium;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  outline: none;
}

input[type=password] {
  font-family: "Lucida Console", serif;
  border-radius: 25px;
  background: #394B73;
  color: #FFFFFF;
  font-size: medium;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: #7AA5EA;
}

input[type=password]:focus {
  background-color: #7AA5EA;
}

button{
  font-family: "Lucida Console", serif;
  border-radius: 25px;
  background: #394B73;
  color: #FFFFFF;
  font-size: medium;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  outline: none;
}


