<div>
  <form [formGroup]="createTagForm" (ngSubmit)="this.createTag()">
    <div class="inputContainer">
      <label for="tagTitle">Title</label>
      <input type="text" id = "tagTitle" formControlName="tagTitle"/>

      <label for="tagDescription">Description</label>
      <input type="text" id = "tagDescription" formControlName="tagDescription"/>

      <label for="tagColor">Color </label>
      <input type="color" id = "tagColor" formControlName="tagColor"/>
    </div>

    <div class="horizCenter bottomSpace">
      <input type="submit" class="button" value="Create Tag" />
    </div>
  </form>
</div>
