<div class="section-container">
  <div class="ag-grid-container">
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      (gridSizeChanged)="onGridSizeChange($event)"
      class="ag-theme-alpine"
      colResizeDefault='shift'
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (rowDataChanged)="retrieveAllShortURLsByGroupName()"
      rowSelection="single">
    </ag-grid-angular>
  </div>
  <div class="horizCenter">
    <button class="button" (click)="getSelectedRows()">Zeige ausgewählte Reihen</button>
    <button class="button" (click)="this.retrieveAllShortURLsByGroupName()">reload</button>
  </div>
</div>





