<div class="horizCenter">
  <div class="shorten-section-container">

  <form [formGroup]="shortenURLForm" (ngSubmit)="this.shortenURL()">
    <div class="inputContainer">
      <label for="targetURL">Which TargetURL should the ShortURL refer to?</label>
      <input type="text" id="targetURL" placeholder="https://mywebsite/impressum.com" formControlName="targetURL" required/>
      <br>
      <div *ngIf="!shortenURLForm.controls['targetURL'].valid && shortenURLForm.controls['targetURL'].touched">
        <div *ngIf="shortenURLForm.controls['targetURL'].errors.required" class="errorContainer">
          URL is required.
        </div>
        <div *ngIf="shortenURLForm.controls['targetURL'].errors.pattern" class="errorContainer">
          URL format is wrong. We need a regular url-format. You can copy it from your browser.
        </div>
      </div>
    </div>

    <div class="inputContainer">
      <label for="customSuffix">Which suffix do you want for your ShortURL</label>
      <input type="text" id = "customSuffix" placeholder="customSuffix" formControlName="customSuffix" required/>
      <br>
      <div *ngIf="!shortenURLForm.controls['customSuffix'].valid && shortenURLForm.controls['customSuffix'].touched">
        <div *ngIf="shortenURLForm.controls['customSuffix'].errors.required" class="errorContainer">
          Custom Suffix is required.
        </div>
        <div *ngIf="shortenURLForm.controls['customSuffix'].errors.pattern" class="errorContainer">
          <b>Custom Suffix format is wrong. We need words, that can be separated by points.</b>
        </div>
      </div>
    </div>

    <div class="inputContainer">
      <label class="control control-checkbox" for="updateFlag">
        Should the ShortURL be changeable?
      </label>
      <input type="checkbox" id="updateFlag" formControlName="updateFlag"/>
    </div>

    <div class="inputContainer">
      <label class="control control-checkbox" for="deleteFlag">
        Should the ShortURL be deletable?
      </label>
      <input type="checkbox" id="deleteFlag" formControlName="deleteFlag"/>
    </div>

    <div class="inputContainer">
      <label for="scope">How long should the ShortURL be valid?</label><br>
      <select id="scope" formControlName="scope" required>
        <option value="-1">Forever</option>
        <option value="2592000">One month</option>
        <option value="31536000">One year</option>
        <option value="315360000">Ten years</option>
      </select>
      <br>
      <div *ngIf="!shortenURLForm.controls['scope'].valid && shortenURLForm.controls['scope'].touched">
        <div *ngIf="shortenURLForm.controls['scope'].errors.required" class="errorContainer">
          Scope is required.
        </div>
      </div>
    </div>

    <div>
      <button type="button" id = "tagCreate" (click)="openCreateTagView()">Create New Tag</button><br>
      <label for="tagInput">Add tags </label>
      <input type="text" id = "tagInput" placeholder="tag" formControlName="tagInput" required list="suggestions" autocomplete="off"/>
      <datalist id="suggestions">
        <option *ngFor="let tag of availableTags" [value]="tag.title"></option>
      </datalist>
      <button type="button" id = "tagAdd" (click)="addTag()" [disabled]="getTagAddDisabled()">Add</button><br>
      <span *ngFor="let tag of currentTags">
        <span class="tagShell" style="background-color:{{tag.color}};">
          {{tag.title}}
        </span>
        <button type="button" class="tagDelete" (click)="deleteTag(tag)"><b>X</b></button>
      </span>
    </div>

    <br>
    <div class="horizCenter bottomSpace">
      <input type="submit" class="button" value="Shorten URL" />
    </div>
  </form>
  </div>
</div>

