ag-grid-angular{
  width: 100% !important;
  height: 100% !important;
}

h2 {
  margin-top: 0;
}

option {
  text-overflow: ellipsis;
}

img:hover {
  cursor: pointer;
}

button {
  width: 10em !important;
}

tr * {
  text-align: left;
}

table{
  border-spacing: 10px;
}

u {
  color: #0303e5;
}

u:hover {
  cursor: pointer;
  color: #0676c6;
}

#tagAdder {
  margin-bottom: 25px !important;
}

.ag-grid-container{
  height:250px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 1.4em;
  padding: 0;
}

.multColumn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.tagSection {
  width: 80%;
}

.tag {
  border: 1px solid #222222;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
  padding: 10px;
  margin: 10px;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.tag > img {
  margin-top: 2.5px;
}

.tag:first-of-type {
  margin-left: 0 !important;
}

.tagDeleter {
  font-size: 1em;
  margin-left: 10px;
}

.tagDeleter {
  height: 1em !important;
}

.modificationFlagsSection {
  width: 20%;
}

.errorContainer{
  margin-left: 20px;
  margin-right: 200px;
  background-color: #fab2b2;
  font-weight: bold;
  color: black;
  border: 3px solid #c41d1d;
  border-radius: 10px;
  padding: 5px;
  width: auto;
  text-align: center;
}

.modificationFlagsSection img {
  height: 2em !important;
  padding: 2px !important;
  margin-right: 0.25em !important;
  margin-left: 0.25em !important;
}

.updateTargetContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.updateTargetContainer > input {
  margin-left: 10px;
  width: 80%;
}

.updateTargetContainer > button {
  width: 20%;
  margin-right: 20px;
}

.updateTargetContainer > button:disabled {
  background: #dddddd;
  color: #888888;
  border-color: #888888 !important;
}

.updateTargetContainer > button:disabled:hover {
  cursor: default;
}

.container > div, .container > span > div {
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
}

.toolSection{
  top: 8%;
  right: 12%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
}

.toolSection img {
  height: 2em !important;
  padding: 2px !important;
  margin-right: 0.25em !important;
  margin-left: 0.25em !important;
}
