<div class="toolSection close">
  <img title="refresh" src="../../../../assets/pictures/Symbols/Black/Reload_black.png" (click)="refreshDetailView()">
  <img title="update" src="../../../../assets/pictures/Symbols/Black/Update_black.png">
  <img title="delete" src="../../../../assets/pictures/Symbols/Black/Delete_black.png" (click)="deleteShortUrl()">
  <img title="exit" src="../../../../assets/pictures/Symbols/Black/Exit_black.png" (click)="closeDialog()">
</div>
<div class="container">
  <div>
    <h2>ShortURL Attributes:</h2>
    <table>
      <tr>
        <th>Group:</th>
        <td>{{this.changedData.groupName}}</td>
      </tr>
      <tr>
        <th>Suffix:</th>
        <td>{{this.changedData.customSuffix}}</td>
      </tr>
      <tr>
        <th>Full-fledged ShortURL:</th>
        <td><u (click)="redirectToTarget()">https://api.bfflshort.de/s/{{this.changedData.groupName}}/{{this.changedData.customSuffix}}</u></td>
      </tr>
      <tr>
        <th>Date of creation:</th>
        <!--suppress TypeScriptUnresolvedFunction -->
        <td>{{this.changedData.createTimestamp | date: 'dd. MMM yyyy hh:mm:ss a'}}</td>
      </tr>
      <tr>
        <th>Scope:</th>
        <td>{{this.getFormattedScope()}}</td>
      </tr>
    </table>
  </div>
  <span class="multColumn">
    <div class="modificationFlagsSection">
    <h2>Modification-Flags:</h2>
    <table>
      <tr>
        <th>Updatable:</th>
        <td>
          <img *ngIf="this.changedData.updateFlag == true" src="assets/pictures/Symbols/Neutral/True.png">
          <img *ngIf="this.changedData.updateFlag == false" src="assets/pictures/Symbols/Neutral/False.png">
        </td>
      </tr>
      <tr>
        <th>Deletable:</th>
        <td>
          <img *ngIf="this.changedData.deleteFlag == true" src="assets/pictures/Symbols/Neutral/True.png">
          <img *ngIf="this.changedData.deleteFlag == false" src="assets/pictures/Symbols/Neutral/False.png">
        </td>
      </tr>
    </table>
  </div>
    <div class="tagSection">
      <select id="tagAdder" #tagAdder [disabled]="this.possibleTags.length === 0" (change)="assignTagToShortURL(tagAdder.value)">
        <option *ngIf="this.possibleTags.length !== 0" [defaultSelected]="true">Assign one of the currently not assigned Tags to your ShortURL</option>
        <option *ngFor="let tag of possibleTags" value="{{tag.id}}">
          {{tag.title}}    –    {{tag.description}}
        </option>
        <option *ngIf="this.possibleTags.length === 0">No more tags assignable</option>
      </select>
      <div>
        <div id="{{tag.description}}" *ngFor="let tag of assignedTags" [style]="{'background': tag.color}" class="tag">
          <div class="tagTitle" [style]="{'color': isTagColorLight(tag.color)? 'black': 'white'}">{{tag.title}}</div>
          <img *ngIf="isTagColorLight(tag.color)" title="exit" src="../../../../assets/pictures/Symbols/Black/Exit_black.png" class="tagDeleter" (click)="unassignTagFromShortURL(tag.id)">
          <img *ngIf="!isTagColorLight(tag.color)" title="exit" src="../../../../assets/pictures/Symbols/White/Exit_white.png" class="tagDeleter" (click)="unassignTagFromShortURL(tag.id)">
        </div>
      </div>
    </div>
  </span>
  <div>
    <h2>TargetURLs:</h2>
    <div>
      <table>
        <tr>
          <th>Current TargetURL:</th>
          <td><a href="{{this.changedData.targetURL}}" target="_blank" rel="noreferrer noopener">{{this.changedData.targetURL}}</a></td>
        </tr>
      </table>
    </div>
    <div class="ag-grid-container targetUrlGrid">
      <ag-grid-angular
        (gridReady)="onTargetUrlGridReady($event)"
        (gridSizeChanged)="onTargetUrlGridSizeChange($event)"
        class="ag-theme-alpine"
        colResizeDefault='shift'
        [rowData]="rowDataTargetUrl"
        [columnDefs]="columnDefsTargetUrl"
        rowselection="single"
        (rowDoubleClicked)="reassignOldTargetToShortUrl()">
      </ag-grid-angular>
    </div>
  </div>
  <div>
    <h2>Calls of ShortURL:</h2>
    <table>
      <tr>
        <th>Number of URL Calls:</th>
        <td>{{this.rowDataUrlCall.length}}</td>
      </tr>
    </table>
    <div class="ag-grid-container">
      <ag-grid-angular
        (gridReady)="onUrlCallGridReady($event)"
        (gridSizeChanged)="onUrlCallGridSizeChange($event)"
        class="ag-theme-alpine"
        colResizeDefault='shift'
        [rowData]="rowDataUrlCall"
        [columnDefs]="columnDefsUrlCall">
      </ag-grid-angular>
    </div>
  </div>
</div>
