div{
  background: #394B73 !important;
  color: aliceblue;
}

h1{
  font-size: 40pt;
  margin: 0 0 1em 0 !important;
}

a {
  font-size: 20pt;
  color: aliceblue;
  position: absolute;
  margin-right: 2%;
  top: 50px;
  right: 0;
  width: 10em;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

app-user-selection{
  float: right;
}

button{
  background: aliceblue;
  color: #7AA5EA;
}

p{
  font-size: 16pt;
}

ag-grid-angular{
  height: 300px;
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.top{
  vertical-align: center;
  margin-bottom: 1em;
}

.shorten-section-container {
  height: 100%;
}
