<div id='menu'>
    <ul>
      <li><a href='Home.html'><span>Home</span></a></li>
      <li><a href='Create_ShortURL.html'><span>Create URL</span></a></li>
      <li><a href='Manage_Group.html'><span>Manage Group</span></a></li>
      <li><a href='About.html'><span>About</span></a>
    </ul>

  <nav>
    <a href='Home.html'><span>Home</span></a>
    <a href='Create_ShortURL.html'><span>Create URL</span></a>
    <a href='Manage_Group.html'><span>Manage Group</span></a>
    <a href='About.html'><span>About</span></a>
  </nav>
</div>
