<div class="section-container">
  <div class="ag-grid-container">
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      (gridSizeChanged)="onGridSizeChange($event)"
      class="ag-theme-alpine"
      colResizeDefault='shift'
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      rowSelection="multiple">
    </ag-grid-angular>
  </div>
  <button class="button" (click)="getSelectedRows()">Zeige ausgewählte Reihen</button>
  <button class="button" (click)="this.refreshAgGrid()">reload</button>
</div>





