body{
  margin: auto !important;
  width: 100%;
  background-color: black;
  font-family: "Lucida Console", serif;
  color: white;
}

.section-container{
  margin: 10px 10px 10px 0px;
  text-align: center;
}
