div{
  background: #394B73 !important;
  font-size: 1.5em;
  color: aliceblue;
}

b{
  font-size: 25pt;
  padding-right: 2em;
}

a{
  color: aliceblue;
  width: 10em;
  text-decoration: none;
}

a:hover{
  color: #7AA5EA;
  cursor: pointer;
}

app-user-selection{
  float: right;
}

